# System files
.DS_Store
*.log

# Dependencies and Virtual Environments
node_modules/
.venv/
__pycache__/

# Quartz specific
99_System/quartz/node_modules/
99_System/quartz/.cache/
99_System/quartz/public/

# News specific
